#carddiv {
    border: 1px solid blue;
    padding: 20px;
    margin: 5px;
    height: 250px;
    border-radius: 10px;
    background: linear-gradient(-45deg, white, #61B3FF);
    transition: box-shadow .3s;
}

    #carddiv:hover {
        box-shadow: 0 0 20px blue;
    }